<%
class =
  case assigns[:class] do
    nil -> ""
    class -> class
  end
%>
<div class="tc">
  <div class="mb4">
    <%= submit assigns[:title], class: "pointer ba dib pa3 l-pt3-5 mt4 br2 knockout f1 ttu l-main-red hover-white l-button pl4 pr4 bw2 l-b--main-red w-100 bg-white" %>
  </div>
</div>
